.container > header h1 {
    color: #FF69B4;
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    float: left;
    font-weight: 400;
}
.container > header > span {
    color: #FF69B4;
    display: block;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 0 0 0.6em 0.1em;
}
.container > header nav {
    color: #FF69B4;
    float: right;
    text-align: center;
}
.main-timeline{
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    position: relative;
}
.main-timeline:before,
.main-timeline:after{
    content: '';
    height: 40px;
    width: 40px;
    background-color: #e7e7e7;
    border-radius: 50%;
    border: 10px solid #303334;
    transform:translateX(-50%);
    position: absolute;
    left: 50%;
    top: -15px;
    z-index: 2;
}
.main-timeline:after{
    top: auto;
    bottom:15px;
}
.main-timeline .timeline{
    padding: 25px 0;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: '';
    height: 100%;
    width: 50%;
    border-radius: 100px 0 0 100px;
    border: 15px solid #46B2BC;
    border-right: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.main-timeline .timeline:after{
    height: calc(100% - 30px);
    width: calc(50% - 12px);
    border-color: #65C7D0;
    left: 12px;
    top: 15px;
}
.main-timeline .timeline-content{ display:inline-block; }
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
    color: #65C7D0;
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    transform:translateY(-50%);
    position: absolute;
    top: 35%;
    left: 10%;
}
.main-timeline .timeline-date{
    color: #65C7D0;
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    top: 65%;
    left: 20%;
}
.main-timeline .content{
    color: #909090;
    width: 50%;
    padding: 20px;
    display: inline-block;
    float: right;
}
.main-timeline .title{
    text-align:center;
    color: #65C7D0;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even):before{
    left: auto;
    right: 0;
    border-radius: 0 100px 100px 0;
    border: 15px solid red;
    border-left: none;
}
.main-timeline .timeline:nth-child(even):after{
    left: auto;
    right: 12px;
    border: 15px solid green;
    border-left: none;
    border-radius: 0 100px 100px 0;
}
.main-timeline .timeline:nth-child(even) .content{ float: left; }
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: 10%;
}
.main-timeline .timeline:nth-child(even) .timeline-date{
    left: auto;
    right: 20%;
}
.main-timeline .timeline:nth-child(5n+2):before{ border-color: #EA3C14; }
.main-timeline .timeline:nth-child(5n+2):after{ border-color: #EF5720; }
.main-timeline .timeline:nth-child(5n+2) .timeline-date{ color: #EA3C14; }
.main-timeline .timeline:nth-child(5n+2) .timeline-year{ color: #EA3C14; }
.main-timeline .timeline:nth-child(5n+2) .title{ color: #EA3C14; }
.main-timeline .timeline:nth-child(5n+3):before{ border-color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+3):after{ border-color: #6CAF29; }
.main-timeline .timeline:nth-child(5n+3) .timeline-date{ color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+3) .timeline-year{ color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+3) .title{ color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+4):before{ border-color: #F99324; }
.main-timeline .timeline:nth-child(5n+4):after{ border-color: #FBB03B; }
.main-timeline .timeline:nth-child(5n+4) .timeline-date{ color: #F99324; }
.main-timeline .timeline:nth-child(5n+4) .timeline-year{ color: #F99324; }
.main-timeline .timeline:nth-child(5n+4) .title{ color: #F99324; }
.main-timeline .timeline:nth-child(5n+5):before{ border-color: #0071BD; }
.main-timeline .timeline:nth-child(5n+5):after{ border-color: #0050A3; }
.main-timeline .timeline:nth-child(5n+5) .timeline-date{ color: #0071BD; }
.main-timeline .timeline:nth-child(5n+5) .timeline-year{ color: #0071BD; }
.main-timeline .timeline:nth-child(5n+5) .title{ color: #0071BD; }
@media screen and (max-width:1200px){
    .main-timeline .timeline:after{ border-radius: 88px 0 0 88px; }
    .main-timeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media screen and (max-width:767px){
    .container > header h1,
    .container > header nav {
        float: none;
    }
    .container > header > span,
    .container > header h1 {
        text-align: center;
    }
    .container > header nav {
        margin: 0 auto;
    }
    .container > header > span {
        text-indent: 0;
    }
    .main-timeline .timeline{ margin-top: -19px; }
    .main-timeline .timeline:before {
        border-radius: 50px 0 0 50px;
        border-width: 10px;
    }
    .main-timeline .timeline:after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 43px 0 0 43px;
        border-width:10px;
        top: 9px;
        left: 9px;
    }
    .main-timeline .timeline:nth-child(even):before {
        border-radius: 0 50px 50px 0;
        border-width: 10px;
    }
    .main-timeline .timeline:nth-child(even):after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 0 43px 43px 0;
        border-width: 10px;
        top: 9px;
        right: 9px;
    }
    .main-timeline .timeline-date{ font-size: 40px; }
    .main-timeline .timeline-year{ font-size: 40px; }
}
@media screen and (max-width:479px){
    .main-timeline .timeline-date{
        font-size: 25px;
        transform:translateY(0);
        top: 50%;
        left: 5%;
    }
    .main-timeline .timeline-year{
        font-size: 25px;
        transform:translateY(0);
        top: 25%;
        left: 9%;
    }
    .main-timeline .content{
        width: 68%;
        padding: 10px;
    }
    .main-timeline .title{ font-size: 18px; }
    .main-timeline .timeline:nth-child(even) .timeline-date{
        right: 6%;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        right: 9%;
    }
}